<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Directly accessing Street View data</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/gnss.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" style="margin-top: 10px">
        <div class="col-md-4">
          <div class="well">
            <h4>Settings</h4>
            <form>
              <div class="col-md-6 form-group">
                <label for="date">Date:</label>
                <input id="date" class="form-control" type="text" placeholder="dd/mm/aaaa">
              </div>
              <div class="col-md-6 form-group">
                <label for="time">Time:</label>
                <input id="time" class="form-control" type="text" placeholder="hh/mm">
              </div>
              <div class="col-md-6 form-group">
                <label for="lat">Latitude</label>
                <input id="lat" class="form-control" type="text" placeholder="40.72815832561118">
              </div>
              <div class="col-md-6 form-group">
                <label for="lat">Longitude</label>
                <input id="lat" class="form-control" type="text" placeholder="-73.99564975565187">
              </div>
            </form>
            <h5 class="text-center">...or find the place and click on the map.</h5>
            <div class="row">
              <div class="col-md-12">
                <div id="map" style="width: 550px; height: 300px; float:left">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 10px">
              <div class="col-md-4 col-md-offset-4 text-center">
                <button type="button" class="btn btn-info btn-block">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">

        </div>

      </div>

      <div class="row" style="margin-top: 40px">
        <div class="col-md-4 text-center">
          <h4>Stereographic Projection</h4>
          <div id="planet_normal" class="img-responsive">
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4>Stereographic Projection + Segmented Sky</h4>
          <div id="planet_cropped" class="img-responsive">
          </div>
        </div>
        <div class="col-md-4  text-center">
          <h4>Panorama Image</h4>
          <div id="raw_pano" class="col-md-12 img-responsive"></div>
          <h4>Segmented Image</h4>
          <div id="segmented" class="col-md-12 img-responsive"></div>
        </div>
      </div>
    </div>


    <script>
      /*
       * Click the map to set a new location for the Street View camera.
       */

      var map;
      var panorama;

      function initMap() {
        var berkeley = {lat: 40.72815832561118, lng: -73.99564975565187};
        var sv = new google.maps.StreetViewService();

        // panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'));

        // Set up the map.
        map = new google.maps.Map(document.getElementById('map'), {
          center: berkeley,
          zoom: 16,
          streetViewControl: false,
          mapTypeControl: false
        });

        // Set the initial Street View camera to the center of the map
         sv.getPanorama({location: berkeley, radius: 50}, processSVData);



        // Look for a nearby Street View panorama when the map is clicked.
        // getPanoramaByLocation will return the nearest pano when the
        // given radius is 50 meters or less.
        map.addListener('click', function(event) {
          sv.getPanorama({location: event.latLng, radius: 50}, processSVData);
        });
      }

      function setImage(id, source){
          document.getElementById(id).innerHTML = "";
          var img = document.createElement("IMG");
          img.setAttribute("src", source);
          img.setAttribute("class", "pano_image");
          document.getElementById(id).appendChild(img);
      };

      function processSVData(data, status) {
        if (status === 'OK') {
          var marker = new google.maps.Marker({
            position: data.location.latLng,
            map: map,
            title: data.location.description
          });

          //panorama.setPano(data.location.pano);
          //panorama.setPov({
          //  heading: 0,
          //  pitch: 0
          //});
          //panorama.setVisible(true);
          $.ajax({
              type: 'POST',
              contentType: "application/json; charset=utf-8",
              url: "{{ url_for('process_location') }}",
              data: JSON.stringify({pano_id: data.location.pano}),
              success: function(response){

                console.log(data.location.latLng.lat());
                console.log(data.location.latLng.lng());

                setImage('raw_pano', response.panorama);
                setImage('segmented', response.segmented);
                setImage('planet_normal', response.planet_normal);
                setImage('planet_cropped', response.planet_cropped);
              }
          });


          marker.addListener('click', function() {
            var markerPanoID = data.location.pano;


          });
        } else {
          console.error('Street View data not found for this location.');
        }
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ajGOO9QlAAlH_pOhywj0q6hdFpkI0Ks&callback=initMap">
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>


