<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Directly accessing Street View data</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/gnss.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row" style="margin-top: 10px">
        <div id="map" class="col-md-4">
        </div>

        <div class="col-md-4">
          <div class="row">
            <div id="pano" class="col-md-12 img-responsive">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div id="segmented" class="col-md-12 img-responsive">
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div id="cropped" class="col-md-12 img-responsive">
            </div>
          </div>
        </div>
      </div>
        <div class="row" style="margin-top: 10px">
          <div id="planet_normal" class="col-md-4 img-responsive">
          </div>
          <div id="planet_cropped" class="col-md-4 img-responsive">
          </div>
        </div>
    </div>


    <script>
      /*
       * Click the map to set a new location for the Street View camera.
       */

      var map;
      //var panorama;

      function initMap() {
        var berkeley = {lat: 7.123439144882973, lng: -73.11064123719297};
        var sv = new google.maps.StreetViewService();

        //panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'));

        // Set up the map.
        map = new google.maps.Map(document.getElementById('map'), {
          center: berkeley,
          zoom: 16,
          streetViewControl: false
        });

        // Set the initial Street View camera to the center of the map
        sv.getPanorama({location: berkeley, radius: 50}, processSVData);

        // Look for a nearby Street View panorama when the map is clicked.
        // getPanoramaByLocation will return the nearest pano when the
        // given radius is 50 meters or less.
        map.addListener('click', function(event) {
          sv.getPanorama({location: event.latLng, radius: 50}, processSVData);
        });
      }

      function processSVData(data, status) {
        if (status === 'OK') {
          var marker = new google.maps.Marker({
            position: data.location.latLng,
            map: map,
            title: data.location.description
          });
          $.ajax({
              type: 'POST',
              contentType: "application/json; charset=utf-8",
              url: "{{ url_for('process_location') }}",
              data: JSON.stringify({pano_id: data.location.pano}),
              success: function(response){

                document.getElementById('pano').innerHTML = "";
                var img = document.createElement("IMG");
                img.setAttribute("src", response.panorama);
                img.setAttribute("class", "pano_image");
                document.getElementById('pano').appendChild(img);

                document.getElementById('segmented').innerHTML = "";
                var img = document.createElement("IMG");
                img.setAttribute("src", response.segmented);
                img.setAttribute("class", "pano_image");
                document.getElementById('segmented').appendChild(img);

                document.getElementById('cropped').innerHTML = "";
                var img = document.createElement("IMG");
                img.setAttribute("src", response.cropped);
                img.setAttribute("class", "pano_image");
                document.getElementById('cropped').appendChild(img);

                document.getElementById('planet_normal').innerHTML = "";
                var img = document.createElement("IMG");
                img.setAttribute("src", response.planet_normal);
                img.setAttribute("class", "pano_image");
                document.getElementById('planet_normal').appendChild(img);

                document.getElementById('planet_cropped').innerHTML = "";
                var img = document.createElement("IMG");
                img.setAttribute("src", response.planet_cropped);
                img.setAttribute("class", "pano_image");
                document.getElementById('planet_cropped').appendChild(img);
              }

          });


          marker.addListener('click', function() {
            var markerPanoID = data.location.pano;


          });
        } else {
          console.error('Street View data not found for this location.');
        }
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ajGOO9QlAAlH_pOhywj0q6hdFpkI0Ks&callback=initMap">
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>


